
    <div style="margin: auto; width: 100%; padding: 75px;">
    <!-- Head Title -->
    <br>
    <p align="center" style="color:white">Software Design and Architecture Quiz</p>
    <br>
    <!-- Title -->
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Welcome back!</p>
      <p style="color:white">Please enter the information to get your Quiz.</p>
    </div>
    <br>
    <form method="post">
        <!-- Input Name -->
        <div class="nes-field">
        <label for="nameInput" style="color:white">Your initials (e.g. Anthony Edward Stark -&gt; AES)</label>
        <input required type="text" id="nameInput" name="name" placeholder="Your initials" style="text-align: center;" class="nes-input is-dark">
        </div>
        <br>
        <!-- Input Id -->
        <div class="nes-field">
        <label for="idInput" style="color:white">Your quiz id (e.g. 123456) </label>
        <input required type="text" id="idInput" name="quizId" placeholder="Your quiz id" style="text-align: center;" class="nes-input is-dark">
        </div>
        <br>
        <!-- Start button -->
        <button class="nes-btn is-primary" style="margin: auto; display: block;">Start</button>
    </form>
  </div>