
<div style="margin: auto; width: 100%; padding: 75px;">
    <!-- Head Title -->
    <br>
    <p align="center" style="color:white">Software Design and Architecture Quiz</p>
    <br>
    <!-- Title -->
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Welcome!</p>
      <p style="color:white">Please select one of the following options.</p>
    </div>
    <br>
    
    <!-- Start button -->
    <div class="nes-container is-dark is-centered">
        <a type="button" onclick="window.location.href='/login'" class="nes-btn is-primary">New</button>
        <a type="button" onclick="window.location.href='/continue'" class="nes-btn is-primary">Continue</button>
        <a type="button" onclick="window.location.href='/score'" class="nes-btn is-primary">Scores</button>
    </div>
  </div>