
    <div style="margin: auto; width: 100%; padding: 75px;">
      <!-- Head Title -->
      <br>
      <p align="center" style="color:white">Software Design and Architecture Quiz</p>
      <br>
      <!-- Title -->
      <div class="nes-container with-title is-centered is-dark">
        <p class="title">Welcome!</p>
        <p style="color:white">Please enter your initials and the number of questions to be asked.</p>
      </div>
      <br>
      <!-- Login form -->
      <form method="post">
        <div class="nes-field">
          <label for="nameInput" style="color:white">Your initials (e.g. Anthony Edward Stark -&gt; AES)</label>
          <input required type="text" id="nameInput" name="name" placeholder="Your initials" style="text-align: center;" class="nes-input is-dark">
        </div>
        <br>
        <!-- Input Questions -->
        <div class="nes-field">
          <label for="questionsInput" style="color:white">Number of questions (1-40)</label>
          <input required type="number" id="questionsInput" name="questions" min="1" max="40" class="nes-input is-dark" style="text-align: center;">
        </div>
        <br>
        <!-- Start button -->
        <button type="submit" class="nes-btn is-primary" style="margin: auto; display: block;">Start</button>
      </form>
    </div>