    <div style="margin: auto; width: 100%; padding: 10px;">
      <!-- Head Title -->
      <br>
      <p align="center" style="color:white">Software Design and Architecture Quiz</p>
      <br>
      <!-- Title -->
      <div class="nes-container with-title is-centered is-dark" style="width: 375px; margin: auto; display: block; text-align: center;">
        <p class="title">High Scores</p>
        <% if @score %>
         <p style="color:white">Thanks for taking the Quiz!</p>
         <p style="color:white">Your score is: @score</p>
        <% end %>
      </div>
      <br>
      <!-- High Scores -->
      <div class="nes-table-responsive" style="width: 325px; margin: auto; display: block; text-align: center;">
        <table class="nes-table is-bordered is-dark is-centered" id="scoresTable">
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
        <% @scores.each do |s|  %>
          <tr>
            <td><%= s['name'] %></td>
            <td><%= s['score'] %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <br>
      <!-- Home button -->
      <a type="button" onclick="window.location.href='/'" style="margin: auto; display: block; width: 350px" class="nes-btn is-primary">Return to Main Menu</a>
    </div>
    <script type="text/javascript">
    const data = <%= @scores || 'null' %>;
    const scores = data['scores'];
    console.log(scores)
    //
    const table = document.getElementById("scoresTable");

    scores.forEach((item) => {
      var row = table.insertRow(-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = item.name;
      cell2.innerHTML = 'hola';
    });

    </script>